{% load crispy_forms_tags %}

<form method="post" action="{{ form_action }}">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">
            {% if form.instance.pk %}
                <i class="bi bi-pencil-square"></i> 編輯報價品項
            {% else %}
                <i class="bi bi-plus-circle"></i> 新增報價品項至 [{{ enquiry.bwp_no }}]
            {% endif %}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {# 直接使用 crispy filter 來渲染我們在 forms.py 中定義好的表單 #}
        {{ form|crispy }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary">儲存</button>
    </div>
</form>